.update-reservation-modal > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.update-reservation-modal > div > label {
    flex: 0 0 100px;
    margin-bottom: 10px;
}

.update-reservation-modal > div > .value {
    margin-bottom: 10px;
    font-weight: bolder;
}

.update-reservation-modal > div > .update-input-rooms {
    width: 60px;
    text-align: center;
}

.update-reservation-modal > div > .update-input-date {
    flex: 0 0 170px;
    padding: 10px;
    margin: 10px 0;
}