.profile-top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 20px 40px;
    margin: 20px 80px;
    font-weight: bolder;
    color: rgb(90,90,90);
}

#profile-img{
    margin-right: 25px;
    width: 115px;
}

#profile-username{
    font-size: 22px;
}

#profile-menuname{
    font-size: 45px;
}

.profile-end{
    flex: 1 0 auto;
    height: 125px;
    display: flex;
    justify-content: flex-end;
}

.profile-end > div {
    margin-left: 50px;
    padding-top: 35px;
}

.profile-end > div > h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 38px;
}

.profile-end > div > p {
   text-align: center;
   font-size: 12px;
}

.profile-menu{
    height: 50px;
    border-top: 1px solid #008B8B;
    border-bottom: 1px solid #008B8B;
}

.profile-menu > #profile-tab-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 40px;
    margin: 0px 80px;
}
.profile-menu > #profile-tab-header > .profile-tab-menu{
    flex: 1 0 auto;
    text-align: center;
    height: 100%;
    padding-top: 12px;
}
.profile-menu > #profile-tab-header > .profile-tab-menu:hover {
    cursor: pointer;
    background-color: #008B8B;
    color: white;
    transition: all ease-in-out 0.3s;
}   

.profile-tab-clicked {
    background-color: #008B8B;
    color: white;
}

#profile-tab-body{
    margin: 15px 100px;
    padding: 15px 100px;
}
