.blue{
  background-color: darkcyan;
}
.light{
  background-color: rgba(0, 139, 139, 0.051);
}
.bk-img{
  background-image: url(https://wallpaperaccess.com/full/3400459.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
}
.bg-transparent p{
  background-color: rgba(76, 90, 104, 0.664);
  box-shadow: 0px -3px 2px rgba(76, 90, 104, 0.664);
  color: white;
  position: absolute;
  bottom: 0;
}
.card{
  min-width: 25vw;
}
.contain{
  min-height: 60vh;
  position: relative;
}